@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

* {
  font-family: "Ubuntu", sans-serif;
}

button, input {
    font-size: 20px;
    height: 40px;
    width: 40px;
}

